#container {
  width: 960px;
  margin: 0 auto;
}

div {
  text-align: center;
}

table, #reset {
  margin: 0 auto;
  display: block;
}

td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 80px;
}

.xed {
  background: red;
}

.oed {
  background: blue;
}

#reset{
  font-size: 1em;
  margin-top: 1em;
  font-weight: bold;
}